In [1]:
import pandas as pd
import numpy as np

In [2]:
test = pd.read_csv('D:/HugeDatasetWhole_labelsFakeReal.csv')

In [21]:
val_df = test.sample(n= 10000)

val_df.head()

        label                                               text
1341789  Real  paid notice deaths peabody joseph haven peabod...
410938   Fake  nwv news man sues publishers over bible verses...
1856040  Real  diners guide diners guide presents excerpts fr...
656888   Fake  the truth division join us and help combat the...
485480   Fake  day trading course buyers remorse day trading ...

In [22]:
val_df['label'].value_counts()

Real    6865
Fake    3135
Name: label, dtype: int64

In [23]:
lab_df = val_df

In [24]:
lab_df['label'] = lab_df['label'].replace({'Fake' : 1, 'Real' : 0})

lab_df.head(100)

         label                                               text
1341789      0  paid notice deaths peabody joseph haven peabod...
410938       1  nwv news man sues publishers over bible verses...
1856040      0  diners guide diners guide presents excerpts fr...
656888       1  the truth division join us and help combat the...
485480       1  day trading course buyers remorse day trading ...
...        ...                                                ...
257124       1  al duncan will the globalists stop trump befor...
183885       1  it is possible supporting legal immigration an...
2408491      0  senior goldman executive is said to be set to ...
1172656      0  update valeant shares sink as company warns of...
869410       1  politicians show their gratitude where it coun...

[100 rows x 2 columns]

In [25]:
val_df.head(100)

         label                                               text
1341789      0  paid notice deaths peabody joseph haven peabod...
410938       1  nwv news man sues publishers over bible verses...
1856040      0  diners guide diners guide presents excerpts fr...
656888       1  the truth division join us and help combat the...
485480       1  day trading course buyers remorse day trading ...
...        ...                                                ...
257124       1  al duncan will the globalists stop trump befor...
183885       1  it is possible supporting legal immigration an...
2408491      0  senior goldman executive is said to be set to ...
1172656      0  update valeant shares sink as company warns of...
869410       1  politicians show their gratitude where it coun...

[100 rows x 2 columns]

In [26]:
lab_df['label'].value_counts()

0    6865
1    3135
Name: label, dtype: int64

In [27]:
lab_df.to_csv('HugeDatasetPredictSample.csv', index=False)