In [1]:
import pandas as pd
import numpy as np

In [2]:
test = pd.read_csv('E:/FakeNewsCorpus.csv')

In [3]:
test.head()

  label                                               text
0  Fake  surprise socialist hotbed of venezuela has los...
1  Fake  water cooler open thread fake news cnn still w...
2  Fake  veteran commentator calls out the growing ethn...
3  Fake  lost words hidden words otters banks and books...
4  Fake  red alert bond yields are screaming inflation ...

In [4]:
test['label'] = test['label'].replace({'Fake' : 1, 'Real' : 0})

In [5]:
test['label'].value_counts()

0    1913218
1     894737
Name: label, dtype: int64

In [6]:
test.to_csv('E:/FakeNewsCorpus_Preprocessed.csv', index=False)

In [9]:
news_df = pd.read_csv('E:/FakeNewsCorpus_Preprocessed.csv')

In [10]:
news_df.tail()

         label                                               text
2807950      0  corruption with a chance of meatballs photo ma...
2807951      0  volatility rattles stocks and investors who be...
2807952      0  as of in public housing lost heat a demand for...
2807953      0  who said it pepe le pew or donald trump he has...
2807954      0  toads eat beetles sometimes beetles make them ...

In [11]:
from sklearn.utils import shuffle

In [12]:
fake_data = df[df['label'] == 1]
real_data = df[df['label'] == 0]

num_fake_samples = 45000
num_real_samples = 55000

fake_samples = fake_data.sample(n=num_fake_samples, random_state=56)
real_samples = real_data.sample(n=num_real_samples, random_state=56)

news_df = pd.concat([fake_samples, real_samples], ignore_index=True)
news_df = shuffle(news_df, random_state=56)
news_df = news_df.reset_index(drop=True)

class_distribution = news_df['label'].value_counts(normalize=True)
print("New Dataset Class Distribution:")
print(class_distribution)

New Dataset Class Distribution:
0    0.55
1    0.45
Name: label, dtype: float64

In [13]:
news_df['label'].value_counts()

0    55000
1    45000
Name: label, dtype: int64

In [14]:
news_df.to_csv('E:/FakeNewsCorpus_Sample_100k.csv', index=False)